
// Layout

$header-height      = 60px
$header-height-md   = 70px


// Colors

$color              = #f17f00
$black              = #1D2229
$darken             = #23272d
$dark               = #252C34
$gray               = #717f89
$light              = #dae0e5
$lighter       		= #e8ecf0
$white              = #fff
$dark_button        = #2C333B


// Global
$global-bg          = $lighter
$global-color       = $dark
$global-size        = 14px
$global-size-sm     = $global-size - 1
$global-size-xs     = $global-size - 2
$global-size-xxs    = $global-size - 3
$global-size-md     = $global-size + 2
$global-size-lg     = $global-size + 4
$global-lh          = 20px
$global-lh-sm       = $global-lh - 4
$global-lh-xs       = $global-lh - 8
$global-lh-xxs      = $global-lh - 12
$global-lh-md       = $global-lh + 4
$global-lh-lg       = $global-lh + 8


// Layout
$limit              = 1180px
$limit2             = 1680px

// Fonts
$font               = 'Roboto', sans-serif
$font2              = 'Ubuntu', sans-serif

// CSS vars
$shadow             = 0 2px 4px rgba(0,0,0,.1)
$shadow2            = 0 4px 1px rgba(0,0,0,.05)
$rad                = 2px
$sep                = 20px


// Titles

$title_base          = 12px
$title_aument        = 7px
$title_lineheight    = 1.1


// Proportional titles

$title_h1            = $title_base + ($title_aument*5)
$title_h2            = $title_base + ($title_aument*3)
$title_h3            = $title_base + ($title_aument*2)
$title_h4            = $title_base + ($title_aument*1)
$title_h5            = $title_base + ($title_aument*0)

$title_h1_lh         = ceil( $title_h1 * $title_lineheight )
$title_h2_lh         = ceil( $title_h2 * $title_lineheight )
$title_h3_lh         = ceil( $title_h3 * $title_lineheight )
$title_h4_lh         = ceil( $title_h4 * $title_lineheight )
$title_h5_lh         = ceil( $title_h5 * $title_lineheight )


// Bootstrap grid vars

$break              = 240px

$screen-sm          = $break * 2
$screen-md          = $break * 3
$screen-lg          = $break * 4
$screen-xl			= 1024px

$break-sm           = "(min-width $screen-sm-min)"
$break-md           = "(min-width $screen-md-min)"
$break-lg           = "(min-width $screen-lg-min)"
$break-xl			= "(max-width " + $screen-xl + ")"
$break-limit        = "(min-width " + $limit + ")"
$break-extralimit   = "(min-width " + $limit2 + ")"

$break-lg-i         = "(max-width $screen-md)"

$grid-gutter-width  = $sep

$bower-path         = "../../bower_components"

$g-pad				= 20px // Global padding


// Default cubic bezier
$cb                  = cubic-bezier(0.77, 0, 0.175, 1)


// Social colors
$color-facebook     = #3b5998
$color-twitter      = #00aced
$color-googleplus   = #dd4b39
$color-youtube      = #bb0000
$color-linkedin     = #007bb6
$color-instagram    = #517fa4
$color-pinterest    = #cb2027
$color-foursquare   = #0072b1
$color-whatsapp     = #4dc247
$color-blogger      = #ea7d08
$color-vimeo        = #409dcf
$color-flickr       = #0063DC
$color-tripadvisor  = #589442
$color-facebook--lighter =#6d84b4

// Z-index definitions

$z-index-header		= 20
$z-index-search		= 40
$z-index-modal		= 30
$z-index-article    = 6
$z-index-fixed      = 25
$z-index-overview	= 31




